<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>About</h1>
  <p>What Am I Brewing? (Wamibrew) is a smart beer recipe generator for homebrewers.</p>
  <p>By <a href="https://github.com/smoip">David Roberts</a></p>
</div>
<div>
  <p>Calculations:
    <ul>
      <li>
        IBU: Wamibrew uses the Rager method for IBU calculation, and may yield higher values than
        predicted by Garetz or Tinseth (default in many recipe design programs).  For a full discussion and source formulae see
        <a href="http://www.realbeer.com/hops/FAQ.html#units">Norm Pyle's excellent article</a> on the subject.
      </li>
    </ul>
  </p>
<div>