<% provide(:title, 'Contact') %>
<div class="left hero-unit">
  <h1>Contact</h1>
  <p>
    <a href="http://github.com/smoip/wamibrew">github project page</a>
  </p>
  <p>
    <a href="mailto:drsmoip@gmail.com?Subject=wamibrew" target="_top">
    email</a>
    <!-- Refactor with form -->
  </p>
</div>