<% provide(:title, 'Help') %>
<div class="left hero-unit">
  <h1>Help</h1>
  <p>Wamibrew is a work in progress.  For general brewing help or
    for more information please consult one of these external resources.</p>
  <h2>Other Resources</h2>
  <p>General information:
    <ul>
      <li>
        Charlie Papazian's Classic
        <a href="http://en.wikipedia.org/wiki/Charlie_Papazian#Complete_Joy_of_Home_Brewing">Joy of Homebrewing</a>
      </li>
      <li>
        John Palmer's excellent <a href="http://www.howtobrew.com">How to Brew</a>
      </li>
      <li>
        <a href="http://www.homebrewtalk.com">Homebrew Talk</a> Forums
      </li>
    </ul>
  </p>
  <p>Recipe design software:
    <ul>
      <li>
        <a href="http://beersmith.com">BeerSmith</a> (paid download)
      </li>
      <li>
        Mark Riley's <a href="http://hbd.org/recipator/">Beer Recipator</a> (free web app)
      </li>
    </ul>
  </p>
</div>