<% provide(:title, 'Help') %>
<div class="center hero-unit">
  <h1>Help</h1>
  <p>Wamibrew is a work in progress.  For general brewing help or
    for more information please consult one of these external resources.</p>
  <h2>Other Resources</h2>
  <p>General information: John Palmer's excellent
  <a href="http://www.howtobrew.com">How to Brew</a>. </p>
  <p>Recipe design software:
    <a href="http://beersmith.com">BeerSmith</a> (paid download), or Mark Riley's
    <a href="http://hbd.org/recipator/">Beer Recipator</a> (free web app).</p>
  <p></p>
  <p>Forums: <a href="http://www.homebrewtalk.com">Homebrew Talk</a>.</p>
</div>