<div class="center hero-unit">
  <h1>Wamibrew</h1>
  <p>the smart homebrew recipe generator</p>
  <%= link_to "What Am I Brewing?", new_recipe_path,
                                class: "btn btn-large btn-default" %>
</div>

