@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #888888;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayMediumLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: 4px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: yellow;
    text-decoration: none;
  }
}

/* footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #eaeaea;
  color: $grayMediumLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* recipe contents */

#recipe_name {
  font-size: 2em;
  font-weight: 100;
}

#recipe_format {
  height: 50%;
  font-size: 1.1em;
  margin-right: 15%;
  margin-left: 15%;
  ul {
    list-style: square;
    li {
      margin-right: 5%;
    }
  }
}

/* re-submit button box */
