<div class="ingredients">
  <h3>Ingredients</h3>
  <ul>
    <li>malt:</li>
    <li>hops:</li>
    <li>yeast:</li>
  </ul>
</div>
<div class="specifications">
  <h3>Specifications</h3>
  <ul>
    <li>abv:</li>
    <li>ibu:</li>
    <li>color:</li>
  </ul>
</div>