<% @recipe.assign_malts %>
<% base_malt = @recipe.malts[:base].to_a[0][0] %>
<% specialty = @recipe.malts[:specialty].to_a[0][0] %>

<div class="ingredients">
  <h3>Ingredients</h3>
  <ul>
    <li>
      malt: <%= base_malt.name %>, <%= @recipe.malts[:base][base_malt] %>lbs,
      <%= specialty.name %>, <%= @recipe.malts[:specialty][specialty] %>lbs
    </li>
    <li>hops:</li>
    <li>yeast:</li>
  </ul>
</div>
<div class="specifications">
  <h3>Specifications</h3>
  <ul>
    <li>abv:</li>
    <li>ibu:</li>
    <li>color:</li>
  </ul>
</div>