<% provide(:title, "Try Brewing...") %>
<h1>Try Brewing...</h1>
<div class="center hero-unit">
  <p><%= @recipe.name %>
  </p>
</div>
<div class="recipe_format">
  <%= render 'recipe_table' %>
</div>
<div class="center hero-unit">
  <p><h2>Not what you had in mind?</h2>
  <%= link_to "What Else Am I Brewing?", new_recipe_path,
                                class: "btn btn-large btn-default" %>
  </p>
</div>